<footer class="footer" style="background-color:#F1F1E6;height: 40%;">
    <div class="content has-text-centered">
        <p>
            Made with <i class="icon ion-heart"></i> by <b>kkerchaoui</b>
        </p>
    </div>
</footer>