<meta charset="UTF-8">
<meta name="description" content="Personnal Single Page App">
<meta name="keywords" content="NODEJS,EJS,HTML,CSS,JavaScript">
<meta name="author" content="Khelil KM">
<!-- Mobile color Android, WP , Ios Safari -->
<meta name="theme-color" content="#F1F1E6">
<meta name="msapplication-navbutton-color" content="#F1F1E6">
<meta name="apple-mobile-web-app-status-bar-style" content="#F1F1E6">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">


<link rel="icon" type="image/x-icon" href="./images/favicon.ico" />
<link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="./stylesheets/style.css">


<title>Full Stack Developer | Khélil KERCHAOUI MATIGNON</title>