<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/menu %>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-3">
          <div class="form-group">
            <p>test</p>
          </div>
        </div>
      </div>
      <div class="arrow bounce fa fa-arrow-down fa-2x" id="downtoabout"></div>
    </div>

    <div class="container h-100 aboutSec">
      <div class="row h-100">
        Hi
      </div>
    </div>
    <div class="container h-100 contactSec">Hi</div>
  </body>
  <% include partials/script %>
</html>
